{% extends base_template %}
<title>{% block title %}Модное место – видеотрансляция в сети. Модное место – видеотрансляции онлайн.{% endblock %}</title>
{% block css %}
{{ block.super }}
<link href="/media/styles/page_info.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
<div id="filter_box">
    <h2>Электронная библиотека</h2>
    <div class="folder">
        <a href="{% url media_library:image_index %}"><img src="/media/images/photofolder.png" alt="picture" /></a>
        <div class="folder_description padtop">
            <a href="{% url media_library:image_index %}"><b>Изображения</b></a>
        </div>
    </div>
    <div class="folder">
        <a href="{% url media_library:video_index %}"><img src="/media/images/videofolder.png" alt="video" /></a>
        <div class="folder_description padtop">
            <a href="{% url media_library:video_index %}"><b>Видеозаписи</b></a>
        </div>
    </div>
    <div class="folder">
        <a href="{% url media_library:audio_index %}"><img src="/media/images/audiofolder.png" alt="audio" /></a>
        <div class="folder_description padtop">
            <a href="{% url media_library:audio_index %}"><b>Аудиозаписи</b></a>
        </div>
    </div>
    <div class="folder">
        <a href="{% url file_library:index %}"><img src="/media/images/photofolder.png" alt="audio" /></a>
        <div class="folder_description padtop">
            <a href="{% url file_library:index %}"><b>Файлы</b></a>
        </div>
    </div>
</div>
{% endblock %}
