{% load i18n %}
<form method="post" enctype="multipart/form-data">
<div class="filt rounded">
<table>
<tbody>
    <tr>
        <td class="label">{{ form.file.label_tag }}</td>
        <td>{{ form.file }}</td>
    </tr>
    <tr>
        <td style="height:10px"></td>
        <td style="height:10px">{{ form.file.errors }}</td>
    </tr>
    <tr>
         <td style="height:10px"></td>
         <td style="height:10px"></td>
    </tr>
    <tr>
        <td class="label">{{ form.name.label_tag }}</td>
        <td><div class="input_holder rounded">{{ form.name }}</div></td>
    </tr>
    <tr>
        <td style="height:10px"></td>
        <td style="height:10px">{{ form.name.errors }}</td>
    </tr>
    <tr>
         <td style="height:10px"></td>
         <td class="empty_filt"></td>
         <td style="height:10px"></td>
    </tr>
    <tr>
        <td class="label">{{ form.description.label_tag }}</td>
        <td><div class="input_holder rounded">{{ form.description }}</div></td>
    </tr>
    <tr>
        <td style="height:10px"></td>
        <td style="height:10px">{{ form.description.errors }}</td>
    </tr>
</tbody>
</table>
</div>
<div class="but">
<input type="submit" value="{% trans "Add" %}"/>
</div>
</form>