{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block content %}
<div id="filter_box">
    <h2>Добавление фотографии</h2>

{% include "media_library/_image_breadcrumb.html" %}

    <form method="post" enctype="multipart/form-data">
    <div class="filt rounded">
    <table>
    <tbody>
    	<tr>
            <td style="height:10px"></td>
            <td class="empty_filt"></td>
            <td style="height:10px">{{ form.file.errors }}</td>
        </tr>
        <tr>
            <td class="label"><label for="id_file">Изображение:</label></td>
            <td><input type="file" id="id_file" name="file"></td>
        </tr>
        <tr>
             <td style="height:10px"></td>
             <td class="empty_filt"></td>
             <td style="height:10px"></td>
        </tr>
        <tr>
        <tr>
            <td style="height:10px"></td>
            <td class="empty_filt"></td>
            <td style="height:10px">{{ form.name.errors }}</td>
        </tr>
            <td class="label"><label for="id_name">Заголовок:</label></td>
            <td><div class="input_holder rounded"><input type="text" id="id_name" name="name"></div></td>
        </tr>
        <tr>
             <td style="height:10px"></td>
             <td class="empty_filt"></td>
             <td style="height:10px"></td>
        </tr>
        <tr>
            <td style="height:10px"></td>
            <td class="empty_filt"></td>
            <td style="height:10px">{{ form.description.errors }}</td>
        </tr>
        <tr>
            <td class="label"><label for="id_description">Описание:</label></td>
            <td><div class="input_holder rounded"><input type="text" id="id_description" name="description"></div></td>
        </tr>
    </tbody>
    </table>
    </div>
    <div class="but">
    <input type="submit" value="{% trans "Add" %}"/>
    </div>
    </form>
</div>    
{% endblock %}
