{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/fancyplayer.css" type="text/css" media="screen" />
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/js/jquery.fancybox-1.2.1.js"></script>
    <script type="text/javascript" src="/media/js/jquery.easing-1.3.pack.js"></script>
    <script type="text/javascript" src="/media/js/flowplayer-3.1.1.min.js"></script>
    <script type="text/javascript" src="/media/js/fancyplayer.js"></script>
    <script type="text/javascript">

	var videopath = "";
	var swfplayer = "/media/swf/flowplayer-3.2.5.swf";
	
    </script>

{% endblock %}

{% block content %}
<div id="filter_box">
<h2>Видеозаписи</h2>

{% include "media_library/_video_breadcrumb.html" %}

{% if can_manage %}
    <div class="actions">
    <div class="but fold">
    <a href="{% if current_folder %}{% url media_library:video_folder_add current_folder.id %}{% else %}{% url media_library:video_folder_add %}{% endif %}">Добавить папку</a>
    </div>
    <div class="but media">
    <a href="{% if current_folder %}{% url media_library:video_add current_folder.id %}{% else %}{% url media_library:video_add %}{% endif %}">Добавить видеозапись</a>
    </div>
    </div><br />
{% endif %}

<div id="content-main">

{% for node in folders  %}
<div class="media_holder">
    <a class="fancy-folder" href="{% url media_library:video_index node.id %}"
       title="{{ node.name }}">
        <img src="/media/images/videofolder_min.png"
             alt="{{ node.name }}" />
    </a>
    <div class="title"><p><b>{{ node.name }}</b></p>
    {% if can_manage %}
        <a class="delete" title="{% trans 'Delete' %}" href="{% url media_library:image_folder_delete node.id %}">{% trans "Delete" %}</a>
    {% endif %}
    </div>
</div>
{% endfor %}
<div style="clear:both"></div>
{% for node in files %}
{% with node.get_document as file %}
<div class="media_holder">
    <a class="video_link fancy-image" href="{% media_url file library_video_mini.flv %}">
        <img src="{% media_url file library_video_thumbnail.png %}" alt="" />
    </a>
    <p><b>{{ file.name }}</b></p>
    {% if can_manage %}
        <a class="delete" title="{% trans 'Delete' %}" href="{% url media_library:video_delete id=file.id %}">{% trans "Delete" %}</a>
    {% endif %}
    
</div>
{% endwith %}
{% endfor %}
</div>

{% include 'includes/paginator.html' %}
</div>    
{% endblock %}
