{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/fancyplayer.css" type="text/css" media="screen" />
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/js/jquery.fancybox-1.2.1.js"></script>
    <script type="text/javascript" src="/media/js/jquery.easing-1.3.pack.js"></script>
    <script type="text/javascript" src="/media/js/flowplayer-3.1.1.min.js"></script>
    <script type="text/javascript" src="/media/js/fancyplayer.js"></script>
    <script type="text/javascript">
	
	var videopath = "";
	var swfplayer = "/media/swf/flowplayer-3.2.5.swf";
	
    </script>

{% endblock %}

{% block content %}
<div id="filter_box">
<h2>Видеозаписи</h2>

{% if can_manage %}
    <div class="actions">
    <a href="{% if current_folder %}{% url media_library:video_folder_add current_folder.id %}{% else %}{% url media_library:video_folder_add %}{% endif %}">{% trans "Add folder" %}</a>
    <a href="{% if current_folder %}{% url media_library:video_add current_folder.id %}{% else %}{% url media_library:video_add %}{% endif %}">{% trans "Add video" %}</a>
    </div>
{% endif %}

<div id="content-main">

{% for node in objects.object_list  %}
<div class="media_holder">
{% if node.is_folder %}
    <a href="{% url media_library:video_index node.id %}"
       title="{{ node.name }}">
        <img src="/media/images/videofolder.png"
             alt="{{ node.name }}" />
    </a>
    {% if can_manage %}
        <a class="delete" title="{% trans 'Delete' %}" href="{% url media_library:image_folder_delete node.id %}">{% trans "Delete" %}</a>
    {% endif %}
{% else %}
{% with node.get_document as file %}
    <a class="video_link fancy-image" href="{% media_url file library_video_mini.flv %}">
        <img src="{% media_url file library_video_thumbnail.png %}" alt="" />
    </a>
    {% if can_manage %}
        <a class="delete" title="{% trans 'Delete' %}" href="{% url media_library:video_delete id=file.id %}">{% trans "Delete" %}</a>
    {% endif %}
{% endwith %}
{% endif %}
</div>
{% endfor %}
</div>


{% include 'includes/paginator.html' %}
</div>    
{% endblock %}
