{% extends "base.html" %}
{% load i18n %}
{% load media %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/fancybox.css" type="text/css" media="screen" />
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/media/js/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/media/js/jquery.easing-1.3.pack.js"></script>

    <script type="text/javascript">

    $(function(){
        $('a.fancy-image').fancybox({
            'titlePosition'	: 'inside',
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 600,
            'speedOut': 200,
            'overlayShow': true
        });
    });

    </script>

{% endblock %}

{% block content %}
<div id="filter_box">
<h2>{{ item.title }}</h2>
    <div class="mess">
       <div class="friendTable">
           {% with item.author as user %}
              {% include "includes/user/micro.html" %}
           {% endwith %}
       </div>
    {% if item.photo %}
        <a class="fancy-image" href="{% media_url item.photo ad_photo_full.png %}">
            <img src="{% media_url item.photo ad_photo_thumbnail.png %}" />
        </a>
    {% endif %}
       <div class="message_text">
           <p>{% trans "Created:" %} {{ item.ctime|date:"d.m.Y" }}</p>
       </div>
       <div class="note_text_view rounded">
          <p>{{ item.text|linebreaksbr }}</p>
       </div>
    </div>
    {% ifequal request.user item.author %}
    <div>
        <a class="reference del" href="{% url ads:delete item.id %}">{% trans 'Delete' %}</a>
        <a class="reference" href="{% url ads:edit item.id %}">{% trans 'Edit' %}</a>
    </div>
    {% endifequal %}

</div>
{% endblock %}
