{% extends "base.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
<style type="text/css">
div.answer { display: none }
</style>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="/media/js/autoresize-mod.jquery.js"></script>
<script type="text/javascript">
    var current_answer = undefined;

    function answer_hide() {
        $('#answer-' + current_answer).hide();
        $('#ans-' + current_answer).show();
        current_answer = undefined;
        return false;
    }

    $(document).ready(function() {
        $('textarea').autoResize({extraSpace : 0});
        $('a.ans').click(function() {
            if (current_answer != undefined) answer_hide();
            current_answer = this.id.split('-')[1];
            $('#ans-' + current_answer).hide();
            $('#answer-' + current_answer).show();
            return false;
        });
        $('a.back').click(answer_hide);
 
       $("a.multiple_del").click(function(){
            var checked = $('input.del:checked');

            if(checked.length){
                if (!confirm('Вы действительно хотите удалить '
                        + checked.length + ' сообщений?'))
                    return;
                var form = $("form.multiple_del");
                form.append(checked);
                form.submit()
            }
       });
    });
</script>
{% endblock %}

{% block content %}
    <form class="multiple_del" method="POST" action="{% url user_messages:multiple_delete %}">
        <input type="hidden" name="view" value="inbox" />
    </form>
<div id="filter_box">
<h2>{% trans "Messages history" %}</h2>

<div id="content-main">

    {% include "includes/left_menu.html" %}

    <div class="messages">
        <h3>{% trans "Messages: inbox" %} ({{ objects.paginator.count }})</h3>
        <div class="messages_inbox">
        <a class="multiple_del" href="javascript: void(0);">Удалить отмеченные</a>
        
            {% for msg in objects.object_list %}
            <div class="message_item {% if msg.is_read %}readed{% else %}unreaded{% endif %}">

            <table>
            <tr>
            <td>
            <p>
                <input type="checkbox" class="del" value="{{ msg.id }}" id="del_{{ msg.id }}" name="del_{{ msg.id }}"/>
            </p>
            </td>
            <td>
            <div class="friendTable">
            {% with msg.sender as user %}
                {% include "includes/user/micro.html" %}
            {% endwith %}
            </div>
            </td>
            <td>
                <div class="message_text">
                    <p><a href="{% url user_messages:view_message message_id=msg.id %}">
                        {% with msg.timestamp as datetime %}
                            {% include 'includes/datetime.html' %}
                        {% endwith %}
                        </a>
                    </p>
                    <p><a href="{% url user_messages:view_message message_id=msg.id %}">{{ msg.first_line }}</a></p>
                </div>
            </td>
            <td>
                <div class="operation">
                     <p><a class="reference" href="{% url user_messages:view_message message_id=msg.id %}">Читать</a></p>
                     {% comment %}
                     <p><a class="reference" href="#">Спам</a></p>
                     {% endcomment %}
                     <p><a class="reference" href="{% url user_messages:delete_message message_id=msg.id%}"
                             onclick="javascript:return confirm('Вы действительно хотите удалить сообщение?')">
                        {% trans "Delete" %}
                     </a></p>
                     <p><a class="ans reference" href="#" id="ans-{{ msg.id  }}">Ответить</a></p>
                    <a href="{% url user_messages:view_message_by_user user_id=msg.sender.id action='inbox' %}">История</a>
                </div>
            </td>
            <td>
                <form method="post" action="{% url user_messages:send_message user_id=msg.sender.id %}">
                    <div class="answer" id="answer-{{ msg.id  }}">
                        <div class="friendTable">
                            {% include "includes/user/micro.html" %}
                        </div>
                        <div class="message_text_reply rounded">
                            <textarea name="text" cols="78" rows="5"></textarea>
                        </div>

                        <div class="but_1">
                            <a class="back reference" href="#" id="back-{{ msg.id  }}">Отменить</a>
                            <input type="submit" value="{% trans 'Send' %}"/>
                        </div>
                    </div>
                </form>
            </td>
            </tr>
            </table>
            </div>
            {% endfor %}
        </div>

{% include "includes/paginator.html" %}

    </div>
</div>
</div>

{% endblock %}
