{% extends "base.html" %}
{% load i18n %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="/media/js/autoresize-mod.jquery.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
                $('textarea').autoResize({extraSpace : 0});
				$('div.answer').hide();
				$('a#ans').click(function(){
					$('div.answer').show();
					$('div.but_0').hide();
										  });
				$('a#back').click(function(){
					$('div.answer').hide();
					$('div.but_0').show();
										  });
                                   });
</script>
{% endblock %}

{% block content %}
<div id="filter_box">
<h2>{% trans "Viewing a message" %}</h2>

<div id="content-main">

    {%  include "includes/left_menu.html" %}

    <div class="message">
        <h3>{% trans "Viewing a message" %}</h3>
            <div class="mess">
                <div class="friendTable">
                    {% if msg.sender == user %}
                    {% with msg.recipient as user %}
                        {% include "includes/user/micro.html" %}
                    {% endwith %}
                    {% else %}
                    {% with msg.sender as user %}
                        {% include "includes/user/micro.html" %}
                    {% endwith %}
                    {% endif %}
                </div>
                <div class="message_text">
                    <p>
                        {% with msg.timestamp as datetime %}
                            {% include 'includes/datetime.html' %}
                        {% endwith %}
                    </p>
                </div>
                <div class="message_text_view rounded">
                    <p>{{ msg.text|linebreaks }}</p>
                </div>
            </div>
        {% if msg.sender == user %}
        <form method="post" action="{% url user_messages:send_message msg.recipient.id %}">
        {% else %}
        <form method="post" action="{% url user_messages:send_message msg.sender.id %}">
        {% endif %}
            <div class="answer">
                <div class="friendTable">
                    {% include "includes/user/micro.html" %}
                </div>
                <div class="message_text_reply rounded">
                    <textarea name="text" cols="78" rows="5"></textarea>
                </div>

                <div class="but_1">
                    <a id="back" class="reference" href="javascript: void(0);">Отменить</a>
                    <input type="submit" value="{% trans 'Send' %}"/>
                </div>
            </div>

            <div class="but_0">
                <a class="reference" href="{% url user_messages:delete_message message_id=msg.id%}"
                   onclick="javascript:return confirm('Вы действительно хотите удалить сообщение?')"
                        >
                    {% trans "Delete" %}
                </a>
                <a id="ans" class="reference" href="javascript: void(0);">{% if msg.sender == user %}Ещё одно{% else %}Ответить{% endif %}</a>
                <a class="reference" href="{% if msg.sender == user %}{% url user_messages:view_sent %}{% else %}{% url user_messages:view_inbox %}{% endif %}">Закрыть</a>
                <a class="reference" href="{% url user_messages:view_message_by_user user_id=msg.sender.id %}">История</a>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}
