{% extends "base.html" %}
{% load media %}
{% load i18n %}
{% block css %}
{{ block.super }}
<link href="/media/styles/page_info.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() { 
	var link = $(".aplications a.app_link");					   
    link.click(function (e){
        var width=810, height=645;
        window.open($(this).attr('href'), 'game',
                'width='+width+',height='+height+',left='+($(window).width()-width)/2+',top='+($(window).height()-height)/2); 
        return false;
    });
});
</script>

{% endblock %}

{% block content %}
<div id="filter_box">
    <h2>Приложения</h2>

    {% for app in objects.object_list %}
        <div class="aplications">
            
            <a class="app_link" href="{% url applications:view app.id %}">
                <img src="{% media_url app.image application_image_full.png %}" width="160" height="120" align="left" border="0"/>
            </a>
            <div class="folder_description">
                <b>{{ app.name }}</b><br />
                {{ app.description }}
            </div>
            {% if can_manage %}
        <a class="delete" title="{% trans 'Delete' %}" href="{% url applications:delete app.id %}"
                onclick="javascript:return confirm('Вы действительно хотите удалить приложение?')">{% trans "Delete" %}</a>
        <a class="edit" title="{% trans 'Edit' %}" href="{% url applications:edit app.id %}">{% trans "Edit" %}</a>                
        {% endif %}
        </div>
    {% endfor %}

    {% include 'includes/paginator.html' %}
<br />
    {% if can_manage %}
<form action="{% url applications:add %}" method="post" enctype="multipart/form-data">
		<div class="filt rounded">
        <table>
        <tbody>
            <tr>
                <td class="label"><label for="id_name">Заголовок:</label></td>
                <td><div class="input_holder rounded">{{ form.name }}</div></td>
            </tr>
            <tr>
                 <td style="height:10px"></td>
                 <td class="empty_filt"></td>
                 <td style="height:10px"></td>
            </tr>
            <tr>
                <td class="label"><label for="id_description">Описание:</label></td>
                <td><div class="input_holder rounded">{{ form.description }}</div></td>
            </tr>
            <tr>
                 <td style="height:10px"></td>
                 <td class="empty_filt"></td>
                 <td style="height:10px"></td>
            </tr>
            <tr>
                <td class="label"><label for="id_file">Приложение:</label></td>
                <td>{{ form.file }}</td>
            </tr>
            <tr>
                 <td style="height:10px"></td>
                 <td class="empty_filt"></td>
                 <td style="height:10px"></td>
            </tr>
            <tr>
                <td class="label"><label for="id_image">Изображение:</label></td>
                <td>{{ form.image }}</td>
            </tr>
            <tr>
                 <td style="height:10px"></td>
                 <td class="empty_filt"></td>
                 <td style="height:10px"></td>
            </tr>
            <tr>
                <td class="label"><label for="id_flashvars">Flashvars:</label></td>
                <td>{{ form.flashvars }}</td>
            </tr>

        </tbody>
        </table>
        </div>
        <div class="but">
        <input type="submit" value="Добавить"/>
        </div>
</form>
{% endif %}

</div>
{% endblock %}
