{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block content %}
<div id="filter_box">
    <h2>{{ title }}</h2>


<form method="post">
<div class="filt rounded">
<table>
<tbody>
    <tr>
        <td class="label">{{ form.title.label_tag }}</td>
        <td><div class="input_holder rounded">{{ form.title }}</div></td>
    </tr>
    <tr>
        <td style="height:10px"></td>
        <td style="height:10px">{{ form.title.errors }}</td>
    </tr>
    <tr>
         <td style="height:10px"></td>
         <td class="empty_filt"></td>
         <td style="height:10px"></td>
    </tr>
</tbody>
</table>
</div>
<div class="but">
<input type="submit" value="{% if file %}{% trans 'Save' %}{% else %}{% trans 'Add' %}{% endif %}"/>
</div>
</form>
</div>
<div>
    <a href="{% url file_library:index %}">
        Вернуться к списку файлов
    </a>
</div>
{% endblock %}