{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block content %}
<div id="filter_box">
    <h2>{% if edit %}Редактирование файла{% else %}Добавление файла{% endif %}</h2>

<form method="post" enctype="multipart/form-data">
<div class="filt rounded">
<table>
<tbody>
    <tr>
        <td class="label">{{ form.file.label_tag }}</td>
        <td>{{ form.file }}
        {% if file %}<img src="{% media_url file library_image_thumbnail.png %}" alt="{{ file.title }}" />{% endif %}</td>
    </tr>
    <tr>
        <td style="height:10px"></td>
        <td style="height:10px">{{ form.file.errors }}</td>
    </tr>
    <tr>
         <td style="height:10px"></td>
         <td style="height:10px"></td>
    </tr>
    <tr>
        <td class="label">{{ form.name.label_tag }}</td>
        <td><div class="input_holder rounded">{{ form.name }}</div></td>
    </tr>
    <tr>
        <td style="height:10px"></td>
        <td style="height:10px">{{ form.name.errors }}</td>
    </tr>
    <tr>
         <td style="height:10px"></td>
         <td class="empty_filt"></td>
         <td style="height:10px"></td>
    </tr>
    <tr>
        <td class="label">{{ form.category.label_tag }}</td>
        <td><div class="input_holder rounded">{{ form.category }}</div></td>
    </tr>
    <tr>
        <td style="height:10px"></td>
        <td style="height:10px">{{ form.category.errors }}</td>
    </tr>
    <tr>
         <td style="height:10px"></td>
         <td class="empty_filt"></td>
         <td style="height:10px"></td>
    </tr>
    <tr>
        <td class="label">{{ form.description.label_tag }}</td>
        <td><div class="input_holder rounded">{{ form.description }}</div></td>
    </tr>
    <tr>
        <td style="height:10px"></td>
        <td style="height:10px">{{ form.description.errors }}</td>
    </tr>
</tbody>
</table>
</div>
<div class="but">
<input type="submit" value="{% if edit %}{% trans 'Save' %}{% else %}{% trans 'Add' %}{% endif %}"/>
</div>
</form>
</div>
<div>
    <a href="{% url file_library:index %}">
        Вернуться к списку файлов
    </a>
</div>
{% endblock %}